.header {
  color: #FFF;
  position: relative;
  min-height: 650px;
}
@media (max-width: 480px) {
  .header-logo__img img {
    max-width: 200px;
    
  }
}
.header__bg {
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.header__bg-planet {
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 193px);
  top: 136px;
  z-index: 100;
  height: 386px;
  width: 386px;
  background: rgba(204, 204, 204, 0.65);
  border-radius: 1000px;
}
@media (max-width: 1200px) {
  .header__bg-planet {
    opacity: 0.1;
    z-index: -1;
  }
}
.header__bg-img {
  position: absolute;
  z-index: -1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__wrapper-info {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .header__wrapper-info {
    flex-direction: column;
  }
}
.header__title {
  font-weight: 700;
  font-size: 53.5px;
  text-transform: uppercase;
  line-height: 53.5px;
  background: linear-gradient(to right, #FFF, #FF450C);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .header__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.header__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(to right, #FFF, #FF450C);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .header__subtitle {
    font-size: 18px;
    line-height: 18px;
  }
}
.header__button {
  margin-top: 90px;
  color: #b1b1b1;
  display: block;
  text-decoration: none;
  padding: 8px 32px;
  width: fit-content;
  transition: 0.3s ease-out;
  position: relative;
}
.header__button.mobile {
  margin: 20px 0;
}
@media (max-width: 768px) {
  .header__button {
    z-index: 2888;
  }
}
.header__button:hover {
  padding: 12px 36px;
}
.header__button-border-white::before {
  content: "";
  left: 0;
  bottom: 0;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  height: 5px;
  width: 5px;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 1;
}
.header__button-border-white::after {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  content: "";
  right: 0;
  top: 0;
  height: 5px;
  width: 5px;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 1;
}
.header__button-border-white--shadow::before, .header__button-border-white--shadow::after {
  border: none;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 5px;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 1;
  top: unset;
  right: unset;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);
}
.header__button-border-white--shadow::before {
  height: 1px;
  width: 5px;
  left: 0;
  bottom: 0;
}
.header__button-border-white--shadow-top-right::before, .header__button-border-white--shadow-top-right::after {
  bottom: unset;
  left: unset;
  top: 0;
  right: 0;
}
.header__button-border-blue::before, .header__button-border-blue::after {
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #24599c 100%);
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 1;
}
.header__button-border-blue::after {
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #24599c 100%);
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
}
.header__button-border-blue--left-top::before, .header__button-border-blue--left-top::after {
  background: linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #24599c 100%);
  right: 0;
  top: 0;
  bottom: unset;
  left: unset;
}
.header__button:hover {
  color: #FFF;
}
.header__adv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #b1b1b1;
}
.header__adv-val {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #FFF;
  word-break: normal;
}
@media (max-width: 768px) {
  .header__adv-val {
    font-size: 50px;
    line-height: 50px;
  }
}
.header__adv-item {
  padding: 32px 16px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s ease-out;
  cursor: pointer;
}
.header__adv-item-bg {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(128, 128, 128, 0.1) 100%);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}
.header__adv-item-bg:hover {
  opacity: 1;
}
.header__adv-item:hover::before, .header__adv-item:hover::after {
  opacity: 1;
}
.header__adv-item::before {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(128, 128, 128, 0.7) 100%);
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 0;
}
.header__adv-item::after {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(128, 128, 128, 0.7) 100%);
  content: "";
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
  opacity: 0;
}
.header__adv-label {
  text-transform: lowercase;
}
.header__adv-label-first {
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    transition: 0.5s ease-out;
    height: 100%;
  }
  .header-menu.active {
    opacity: 1;
    z-index: 2999;
    left: 0;
  }
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1200px) {
  .header-menu__list {
    position: fixed;
    flex-direction: column;
    width: 100%;
    top: 0;
    padding: 40px 0;
    z-index: 1999;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
.header-menu__toggle {
  display: none;
  z-index: 2999;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header-menu__toggle {
    display: flex;
  }
}
.header-menu__link {
  color: #FFF;
  text-decoration: none;
  padding: 15px 0;
  transition: 0.5s ease-out;
  position: relative;
  cursor: pointer;
}
.header-menu__link::after {
  content: " ";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #b1b1b1;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}
.header-menu__link.active, .header-menu__link:hover {
  color: #b1b1b1;
}
.header-menu__link.active::after, .header-menu__link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/*# sourceMappingURL=header.css.map */
