.slider {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #FFF;
  margin-bottom: 44px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #F8F8F8;
}
.slider ul, .slider li {
  list-style: none;
}
.slider__nav {
  position: absolute;
  bottom: 47px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 199;
}
.slider__prev, .slider__next {
  content: " ";
  width: 24px;
  height: 24px;
  display: block;
}
.slider__prev {
  background: url("slider-arrow-left.svg");
}
.slider__next {
  background: url("slider-arrow-right.svg");
}
.slider__counter {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.slider__counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  z-index: 100;
}
.slider__counter-line {
  height: 94px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}
.slider__counter-line::after {
  display: block;
  content: " ";
  height: 41px;
  width: 1px;
  background: #fff;
  transition: top 0.5s ease-in-out;
  top: var(--counter-line-position, 0px);
  position: absolute;
}
.slider__inner {
  top: 0;
  width: 100%;
}
.slider__item {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  height: max-content;
  background-position-x: 60%;
  background-size: cover;
}
.slider__wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}
.slider__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 63.8px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .slider__title {
    font-size: 36px;
    line-height: 39.6px;
    text-align: center;
  }
}
.slider__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21.76px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .slider__subtitle {
    font-size: 12px;
    text-align: center;
  }
}
.slider__text-image {
  margin-top: 197px;
  margin-bottom: 157px;
}
@media (max-width: 768px) {
  .slider__text-image {
    margin-top: 65px;
    margin-bottom: 119px;
  }
}
.slider__accordion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  color: #737373;
  margin-top: 108px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .slider__accordion {
    grid-template-columns: 1fr;
    margin-top: 47px;
    margin-bottom: 44px;
  }
}
.slider__accordion-wrapper {
  align-items: start;
  position: relative;
}
.slider__accordion-title {
  color: #000;
  text-align: left;
}
.slider__accordion-subtitle {
  text-align: left;
}
.slider__accordion-item {
  cursor: pointer;
  padding: 20px 0 0 0;
  box-sizing: content-box;
  border-bottom: 1px solid #EEEEEE;
  background: #F8F8F8;
  transition: 0.5s ease-out;
}
@media (max-width: 768px) {
  .slider__accordion-item {
    padding: 20px 0 0 0;
  }
}
.slider__accordion-item.active {
  color: #000;
}
.slider__accordion-item.active .slider__accordion-item-content {
  max-height: 200px;
  pointer-events: auto;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .slider__accordion-item.active .slider__accordion-item-content {
    max-height: 400px;
  }
}
.slider__accordion-item.active .slider__accordion-item-title::after {
  background: url("slider-minus.svg");
}
.slider__accordion-item-title {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .slider__accordion-item-title {
    font-size: 18px;
    line-height: 19.08px;
  }
}
.slider__accordion-item-title span {
  width: calc(100% - 24px);
}
.slider__accordion-item-title::after {
  content: " ";
  background: url("slider-plus.svg");
  width: 24px;
  height: 24px;
  display: block;
  right: 0;
  position: absolute;
}
.slider__accordion-item-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
  pointer-events: none;
  padding-top: 20px;
}
.slider__accordion-list {
  display: block;
  z-index: 1000;
}
.slider__accordion-subtitle {
  margin-bottom: 6px;
}
.slider__link {
  margin-bottom: 30px;
  padding: 9px 32px;
  max-width: 160px;
  border-radius: 50px;
  color: #000;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 21.76px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .slider__link {
    margin: 0 auto 24px;
  }
}
.slider__benefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .slider__benefits {
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
  }
}
.slider__benefit {
  display: flex;
  align-items: center;
  gap: 7px;
}
.slider__benefit::before {
  background: url("slider-check-mark.svg");
  content: " ";
  width: 20px;
  height: 20px;
  display: block;
  left: 0;
}

/*# sourceMappingURL=slider.css.map */
